.fl-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.framework-text {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: #0f0e0e;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
}

.background {
    backdrop-filter: blur(10px);
    width: 400%;
    height: 400%;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .update-button {
    float: right;
  }

  .delete-button {
    float: right;
  }

  