.retro-button {
    background-color: #8b008b;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    text-transform: uppercase;
    transition: all 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .retro-button:hover {
    background-color: #6a0dad;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  .delete-button {
    background-color: #b22222;
  }
  
  .delete-button:hover {
    background-color: #8b0000;
  }